/* HEADER */

header {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: salmon;
}

header.header-hidden {
    transform: translateY(-100px);
}

header .header-elements {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-gap: 35px;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

header li {
    list-style: none;
    padding: 0 5px 0 5px;
}
